*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.lein*
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl*
.nrepl-port
.repl
node_modules
resources/public/js/*
target
package-lock.json
.asciidoctor
.cpcache
.shadow-cljs
.portal
yarn.lock
